/* -----------------Geral----------------- */


*{
    margin: auto;
    padding: 0;
    box-sizing: 0;
    max-width: 1128px;
}

body{
    background-color: rgb(212, 212, 212);
}

.body2{
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 4rem 4rem 4rem 4rem;
    background-color: white;
}

p{
    padding: 0 0 0 20px;
    font-size: 1.5rem;
}

.title{
    padding: 0rem 0 0.5rem 20px;
    font-size:1.5rem;
    color: rgb(0, 0, 90);
    font-weight: bold;
}


section{
    padding: 1rem 0 1rem 0;
}

ul{
    padding: 0 0 0 40px;
}

.habilidades{
    padding: 10px 0 10px 0;
}

.container{
    padding-top: 1.5rem;
    display:table-cell;
    vertical-align:top;
}


/* -----------------Header----------------- */

header{
    padding: 0 0 1.3rem 1.5rem;
    border-bottom: 6px solid rgb(0, 0, 90);
}

.title.grande{
    font-size: 5rem;
}

.foto img{
    padding: 0 0 0 1rem;
    bottom: 0;
    width: 100%;
    max-width: 170px;
}

.foto{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-position:left;
    border: 2px solid rgb(0, 0, 90);
    float: left;
}

.nome{
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 4rem;
    left: 100px;
    display: inline-block;
}


/* -----------------Dados----------------- */

.box {
    display:table-cell;
    justify-content: center;
    text-align: center;
    p{
        padding: 0 10px 0 0;
    }
    
}

.box.blue{
    color: white;
    background-color: rgb(0, 0, 90);
    padding: 0 5px 0 5px;
}

.dados{
    border-bottom: 6px solid rgb(198, 225, 233);
}

/* -----------------Esquerda----------------- */

.esquerda{
    height: 0px;
    padding-top: 0.5rem;
}

.title.dois{
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 90);
    font-size:1.7rem;
}

/* -----------------Direita----------------- */

.direita{
    background-color: rgb(219, 228, 248);
    padding: 0.5rem 0 27.5rem 0;
    margin-left: 2rem;
    width: 300px;
    
    .title.dois{
        border-bottom: 1px solid white;
    }
}
